#error-notification {
    position: absolute;
    top: 80px;
    left: 50%;
    translate: -50%;
    height: 50px;
    min-width: 300px;
    background-color: rgba(255, 0, 0, 0.733);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    animation: error-fade 0.25s ease-in-out;
}

@keyframes error-fade {
    0% {
        translate: -50% -30px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}