<footer>
  <p>© 
    <a href="https://github.com/Madu-de" target="_blank">Marvin</a>, <a href="https://github.com/Phaseoil" target="_blank">Erik</a>, <a href="https://github.com/Pl4ttfuss" target="_blank">Maximilian</a> - <span id="year"></span></p>
</footer>

<style>
  :scope footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :scope footer a {
    color: black;
  }

  :scope footer a:hover {
    text-decoration: underline;
  }
</style>